In [ ]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [ ]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(["EIN"], axis=1)

In [ ]:
# Determine the number of unique values in each column.
application_df.nunique()

NAME                      19568
APPLICATION_TYPE             17
AFFILIATION                   6
CLASSIFICATION               71
USE_CASE                      5
ORGANIZATION                  4
STATUS                        2
INCOME_AMT                    9
SPECIAL_CONSIDERATIONS        2
ASK_AMT                    8747
IS_SUCCESSFUL                 2
dtype: int64

In [ ]:
# Look at name value counts for binning
name_count = application_df["NAME"].value_counts()
name_count

PARENT BOOSTER USA INC                                                  1260
TOPS CLUB INC                                                            765
UNITED STATES BOWLING CONGRESS INC                                       700
WASHINGTON STATE UNIVERSITY                                              492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC                          408
                                                                        ...
ST LOUIS SLAM WOMENS FOOTBALL                                              1
AIESEC ALUMNI IBEROAMERICA CORP                                            1
WEALLBLEEDRED ORG INC                                                      1
AMERICAN SOCIETY FOR STANDARDS IN MEDIUMSHIP & PSYCHICAL INVESTIGATI       1
WATERHOUSE CHARITABLE TR                                                   1
Name: NAME, Length: 19568, dtype: int64

In [ ]:
# Choose a cutoff value and create a list of names to be replaced
name_types_to_replace = list(name_count[name_count<5].index)
name_types_to_replace

# Replace in dataframe
for name in name_types_to_replace:
    application_df['NAME'] = application_df['NAME'].replace(name,"Other")

# Check to make sure binning was successful
application_df['NAME'].value_counts()

Other                                                                19803
PARENT BOOSTER USA INC                                                1260
TOPS CLUB INC                                                          765
UNITED STATES BOWLING CONGRESS INC                                     700
WASHINGTON STATE UNIVERSITY                                            492
                                                                     ...
GUILDS OF THE SANTA FE OPERA INC                                         5
FAMILY MOTOR COACH ASSOCIATION                                           5
JAMESTOWN SOCIETY                                                        5
MOST WORSHIPFUL PRINCE HALL GRAND LODGE OF FREE & ACCEPTED MASONS        5
PTA HAWAII CONGRESS                                                      5
Name: NAME, Length: 403, dtype: int64

In [ ]:
# Look at APPLICATION TYPE counts for binning
app_count = application_df['APPLICATION_TYPE'].value_counts()
app_count

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [ ]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(app_count[app_count<500].index)
application_types_to_replace

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [ ]:
# Look at CLASSIFICATION value counts for binning
class_count = application_df["CLASSIFICATION"].value_counts()
class_count

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [ ]:
# You may find it helpful to look at CLASSIFICATION value counts >1
class_count_filtered = class_count[class_count > 1]
class_count_filtered

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [ ]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(class_count[class_count<1000].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [ ]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df = pd.get_dummies(application_df, dtype=float)
application_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,NAME_AACE INTERNATIONAL,NAME_ACE MENTOR PROGRAM OF AMERICA INC,NAME_ACTS MINISTRY,NAME_ACTS MISSIONS,NAME_AFRICAN-AMERICAN POSTAL LEAGUE UNITED FOR SUCCESS A-PLUS,NAME_AIR FORCE ASSOCIATION,NAME_ALABAMA FEDERATION OF WOMENS CLUBS,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [ ]:
# Split our preprocessed data into our features and target arrays
y = application_df['IS_SUCCESSFUL'].values
X = application_df.drop('IS_SUCCESSFUL', axis=1).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X,y,random_state = 78)

In [ ]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [ ]:
print(len( X_train_scaled[0]))

445

In [ ]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len( X_train_scaled[0])
hidden_nodes_layer1=10
hidden_nodes_layer2=16
# hidden_nodes_layer3=12

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, activation='relu', input_dim=number_input_features))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation='relu'))

# Third hidden layer
# nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer3, activation='relu'))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

# Check the structure of the model
nn.summary()

Model: "sequential_9"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_32 (Dense)            (None, 10)                4470

 dense_33 (Dense)            (None, 16)                176

 dense_34 (Dense)            (None, 1)                 17

=================================================================
Total params: 4,663
Trainable params: 4,663
Non-trainable params: 0
_________________________________________________________________

In [ ]:
# Compile the model
nn.compile(loss = 'binary_crossentropy', optimizer = 'adam', metrics=['accuracy'])

In [ ]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5259 - accuracy: 0.7458
Epoch 2/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4468 - accuracy: 0.7848
Epoch 3/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4369 - accuracy: 0.7898
Epoch 4/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4314 - accuracy: 0.7956
Epoch 5/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4294 - accuracy: 0.7948
Epoch 6/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4277 - accuracy: 0.7940
Epoch 7/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4263 - accuracy: 0.7954
Epoch 8/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4254 - accuracy: 0.7963
Epoch 9/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4248 - accuracy: 0.7964
Epoch 10/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4240 - accuracy: 0.7970
Epoch 11/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4228 - accuracy: 0.7977
Epoch 12/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4226 - accuracy: 0.7973
Epoch 13/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4225 - accuracy: 0.7972
Epoch 14/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4221 - accuracy: 0.7972
Epoch 15/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4213 - accuracy: 0.7975
Epoch 16/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4208 - accuracy: 0.7982
Epoch 17/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4204 - accuracy: 0.7982
Epoch 18/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4202 - accuracy: 0.7979
Epoch 19/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4196 - accuracy: 0.7984
Epoch 20/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4196 - accuracy: 0.7995
Epoch 21/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4190 - accuracy: 0.7987
Epoch 22/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4186 - accuracy: 0.8003
Epoch 23/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4185 - accuracy: 0.7995
Epoch 24/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4183 - accuracy: 0.7977
Epoch 25/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4183 - accuracy: 0.7997
Epoch 26/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4177 - accuracy: 0.7990
Epoch 27/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4172 - accuracy: 0.7997
Epoch 28/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4172 - accuracy: 0.7996
Epoch 29/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4167 - accuracy: 0.7995
Epoch 30/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4168 - accuracy: 0.8005
Epoch 31/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4165 - accuracy: 0.8004
Epoch 32/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4161 - accuracy: 0.8009
Epoch 33/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4164 - accuracy: 0.8010
Epoch 34/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4158 - accuracy: 0.8015
Epoch 35/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4155 - accuracy: 0.8022
Epoch 36/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4153 - accuracy: 0.8001
Epoch 37/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4151 - accuracy: 0.8025
Epoch 38/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4151 - accuracy: 0.8015
Epoch 39/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4149 - accuracy: 0.8024
Epoch 40/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4144 - accuracy: 0.8021
Epoch 41/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4145 - accuracy: 0.8032
Epoch 42/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4146 - accuracy: 0.8024
Epoch 43/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4139 - accuracy: 0.8027
Epoch 44/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4141 - accuracy: 0.8021
Epoch 45/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4135 - accuracy: 0.8029
Epoch 46/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4139 - accuracy: 0.8013
Epoch 47/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4134 - accuracy: 0.8025
Epoch 48/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4133 - accuracy: 0.8026
Epoch 49/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4132 - accuracy: 0.8032
Epoch 50/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4132 - accuracy: 0.8023
Epoch 51/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4130 - accuracy: 0.8023
Epoch 52/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4128 - accuracy: 0.8031
Epoch 53/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4124 - accuracy: 0.8032
Epoch 54/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4121 - accuracy: 0.8049
Epoch 55/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4119 - accuracy: 0.8035
Epoch 56/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4117 - accuracy: 0.8043
Epoch 57/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4118 - accuracy: 0.8042
Epoch 58/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4118 - accuracy: 0.8049
Epoch 59/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4115 - accuracy: 0.8045
Epoch 60/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4113 - accuracy: 0.8059
Epoch 61/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4108 - accuracy: 0.8045
Epoch 62/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4112 - accuracy: 0.8054
Epoch 63/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4111 - accuracy: 0.8048
Epoch 64/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4104 - accuracy: 0.8057
Epoch 65/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4101 - accuracy: 0.8052
Epoch 66/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4100 - accuracy: 0.8050
Epoch 67/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4102 - accuracy: 0.8059
Epoch 68/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4102 - accuracy: 0.8056
Epoch 69/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4101 - accuracy: 0.8062
Epoch 70/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4098 - accuracy: 0.8064
Epoch 71/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4097 - accuracy: 0.8055
Epoch 72/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4095 - accuracy: 0.8056
Epoch 73/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4096 - accuracy: 0.8057
Epoch 74/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4097 - accuracy: 0.8050
Epoch 75/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4094 - accuracy: 0.8050
Epoch 76/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4091 - accuracy: 0.8056
Epoch 77/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4089 - accuracy: 0.8064
Epoch 78/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4089 - accuracy: 0.8052
Epoch 79/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4087 - accuracy: 0.8063
Epoch 80/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4083 - accuracy: 0.8064
Epoch 81/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4085 - accuracy: 0.8063
Epoch 82/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4083 - accuracy: 0.8062
Epoch 83/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4085 - accuracy: 0.8054
Epoch 84/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4084 - accuracy: 0.8064
Epoch 85/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4085 - accuracy: 0.8062
Epoch 86/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4079 - accuracy: 0.8073
Epoch 87/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4080 - accuracy: 0.8068
Epoch 88/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4075 - accuracy: 0.8073
Epoch 89/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4078 - accuracy: 0.8064
Epoch 90/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4076 - accuracy: 0.8067
Epoch 91/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4077 - accuracy: 0.8061
Epoch 92/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4075 - accuracy: 0.8064
Epoch 93/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4073 - accuracy: 0.8061
Epoch 94/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4074 - accuracy: 0.8072
Epoch 95/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4073 - accuracy: 0.8061
Epoch 96/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4071 - accuracy: 0.8068
Epoch 97/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4074 - accuracy: 0.8060
Epoch 98/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4069 - accuracy: 0.8065
Epoch 99/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4069 - accuracy: 0.8071
Epoch 100/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4067 - accuracy: 0.8066

In [ ]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.4474 - accuracy: 0.7930 - 474ms/epoch - 2ms/step
Loss: 0.44742581248283386, Accuracy: 0.7930029034614563

In [ ]:
# Export our model to HDF5 file
from google.colab import files
nn.save('AlphabetSoupCharity_Optimization2.h5')
files.download('AlphabetSoupCharity_Optimization2.h5')